{% macro render_platform_nav(active=none) %}
  <ul>
  {% for platform in site.query('/package-platforms') -%}
    <li{% if platform._id == active %} class="active"{% endif
      %}><a href="{{ platform|url }}">{{ platform.name }}</a></li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_category_nav(active=none) %}
  {% for category in site.query('/package-categories') -%}
  {% if category.packages -%}
  <a href="{{category | url}}", class="button tiny">{{ category.name }}</a>
  {% endif -%}
  {% endfor -%}
{% endmacro %}

{% macro render_topnav(page) %}
<li class="home"><a href="{{ '/'|url }}">SUSE Package Hub</a></li>
{% for id, item in bag('menu').items()|reverse -%}
<li class="right {% if page.is_child_of(item.path) %} active{% endif %}">
  <a href="{{ item.path|url }}" onclick="menuNav()"><i class="fa fa-{{ item.icon }}"></i> {{ item.label }}</a>
</li>
{% endfor -%}
<li class="icon">
  <a href="javascript:void(0);" onclick="menuNav()"><i class="fa fa-bars"></i></a>
</li>

<script>
function menuNav() {
    var x = document.getElementById("menu");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
<script>
function menuCollapse() {
    var x = document.getElementById("menu");
    x.className = "topnav";
}
</script>
{% endmacro %}
