{% macro render_package_list(packages) %}
{% set recent = site.get('/recent-packages').children.all() -%}
<div class="text row padding-left">
  <div class"text padding-left">
    {{ packages.children.count() }} total <b class="text bold">{{ packages.name }}</b> packages in stock
    <span class="text right padding-left">
      <b class="fa fa-star starcolor"></b> new updates since
      {{ site.get('/recent-packages').recent_date|datetimeformat('y-MM-dd') }}
    </span>
    <span class="padding-left">
    <a class="button tiny text bold" href="{{ site.get('/update-infos/') | url }}">list of all updates</a>
    </span>
  </div>
  <hr>
</div>
<div id="packagelist">
{% for package in packages.children -%}
{% if package in recent -%}
<a class="column_3 text" href="{{package|url}}"> <i class="fa fa-star starcolor"></i>{{package.name}}</a>
{% else -%}
<a class="column_3 text" href="{{package|url}}"> {{package.name}}</a>
{% endif -%}
{% endfor -%}
</div>
{% endmacro %}

{% macro render_category_packages(category) %}
{% set recent = site.get('/recent-packages').children.all() -%}
<div class="text row padding-left">
  <div class"text padding-left">
    {{ category.packages|count }} total <b class="text bold">{{ category.name }}</b> packages in stock
    <span class="text right padding-left">
      <b class="fa fa-star starcolor"></b> new updates since
      {{ site.get('/recent-packages').recent_date|datetimeformat('y-MM-dd') }}
    </span>
  </div>
  <hr>
</div>
<div id="packagelist">
{% for package_id in category.packages -%}
{% set package = site.get('/packages/%s' % package_id) %}
{% if package -%}
{% if package in recent -%}
<a class="column_3 text" href="{{package|url}}"><i class="fa fa-star starcolor"></i>{{package.name}}</a>
{% else -%}
<a class="column_3 text" href="{{package|url}}">{{package.name}}</a>
{% endif -%}
{% endif -%}
{% endfor -%}
</div>
{% endmacro %}
