/*
 * SUSE Package Hub Theme
 *
 * The values are copied and modified from tuktuk.theme.default.css
 */

font = "latoWeb"
font_light = "LatoWebLight", "Open Sans", "Helvetica Neue", Helvetica, sans-serif
font_semi_bold = "latoWebSemiBold"
default_bcol = #fefefe
default_col = #111
dark_grey = color2

header_bcol = dark_grey
header_col = #ededed

/* SUSE Branding Colors */
color1 = #02D35F
color2 = #0D2C40
color3 = #A0FF5F
color4 = #00C081
color5 = #029584

red = #ff0000
green = color1

branding_colors = color1 color2 color3 color4 color5

for color, i in branding_colors
  body .color{i+1}
    color: color

body .color.red
  color: red

body .color.green
  color: green

body .starcolor
  color: color3

body
    background-color: default_bcol
    color: default_col
    font-size: 18px
    font-family: font_light

body h1
    font-size: 2.8rem;

body h2
    font-size: 2.6rem;

pre
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

default_border = 1px solid dark_grey

for side in right left top bottom
  body .border-{side}
    border-{side}: default_border

body .borders
  for side in right left top bottom
    border-{side}: default_border

body .wide
  width: 1205px

body .middle
  display: inline-block
  height: 100%
  vertical-align: middle

header
  position: fixed
  z-index: 5
  width: 100%
  background-color: header_bcol
  color: header_col


/* ------------------ topnav ----------------------*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  overflow: hidden;
}

ul.topnav li {
  float: left;
}

ul.topnav li:not(:first-child) {
  float: right;
}

ul.topnav li a {
  display: block;
  color: #ededed;
  text-align: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  transition: 0.3s;
}

ul.topnav li.home {
  font-size: 1.5rem;
  font-family: font_bold
  padding-left: 1rem;
  padding-right: 0rem;
}

ul.topnav li.active {
  font-family: font_bold
  background-color: color2
  color: color1
  text-shadow: 1px 1px #000
}

ul.topnav li a:hover {
  color: #fff;
  background: #555;
  text-shadow: 1px 1px #000;
}

/* Hide the list item that contains the link that should open
 * and close the topnav on small screens */
ul.topnav li.icon {
  font-size: 1.5rem;
  display: none;
}

 /* When the screen is less than 680 pixels wide,
  * hide all list items, except for the first one ("Home").
  * Show the list item that contains the link to open and close the
  * topnav (li.icon)
  */
@media screen and (max-width:768px)
  ul.topnav li:not(:first-child)
    display: none

/* The "responsive" class is added to the topnav with JavaScript
 * when the user clicks on the icon. This class makes the topnav
 * look good on small screens
 */
@media screen and (max-width:768px)
  ul.topnav.responsive
    position: relative
  ul.topnav.responsive li.icon
    position: absolute
    right: 0px
    top: 0

  ul.topnav.responsive li
    float: none
    display: block
    padding-left: 1rem

  ul.topnav.responsive li a
    display: block
    text-align: left

  ul.topnav.responsive li.home
    left: 0
    top: 0
    padding-bottom: 0.1rem
    border-bottom: 1px solid hsla(0,0%,100%,0.1)
    box-shadow: inset 0 -1px 0 hsla(0,0%,0%,0.9)

  ul.topnav li.icon
    float: right
    padding-right: 0
    display: inline-block

  .screenshot
    padding-left: 0 !important
    padding-right: 0 !important
    width: 100% !important

  .contact
    padding-left: 33%

  #packagelist
    padding-left: 1rem

/*------------------ topnav ----------------------*/

/*------------------ faq ----------------------*/

.faq.question {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-style: italic;
  font-family: font
}

.faq.answer {
  background-color: #fff;
}

body .bck.theme {
  background-color:#fff;
  color:#000;
  margin-top: 0rem;
  padding-top: 1rem !important;
  padding-bottom: 6rem;
}

body .bck.theme a {
  color: color5
}

body .bck.theme a:hover:not(.button) {
  color: color5
  text-decoration: underline;
}

body .bck.theme img {
  width = 100%;
}

#pagetop {
  padding-top: 6rem !important;
}

body .bck.light {
    color:#fff;
    background-color: #fff
}

body section.landing {
  background-color: #58595b;
  color: #f5f5f5;
  padding-top: 2rem;
}

body section.landing  h1 {
  font-size: 3.0rem;
  padding-bottom: 0.9rem;
}

body section.landing  h3 {
  font-size: 2.0rem;
}

/* Normalize the huge heading sizes from the default theme */
body .landing:not(.bck) h1 {
  font-size: 2.6rem;
}
body .landing:not(.bck) h2 {
  font-size: 2.8rem;
  padding-bottom: 1rem;
}
body .landing:not(.bck) h3 {
  font-size: 2.0rem;
}
body .landing:not(.bck) a {
  font-weight: 300;
  color:#fff;
  text-shadow: 1px 1px #0d2C40;
}

body .landing:not(.bck) a:hover{
  color:#a0ff5f;
  text-shadow: 1px 1px #0d2C40;
}

body .landing code {
  font-weight: 600;
  color: #a0ff5f;
}

body .color:not(.bck).light {
    color:#fff !important
}

pre {
  padding-left: 2rem;
}

table {
  font-family: "Lato";
}


#packagelist-container
  padding-left: 1rem

#packagelist
  padding-left: -1rem


#packagelist i
  font-size: 70%
  text-indent: -1rem
  overflow-x: visible

#packagelist a
  text-decoration: None

#packagelist .footnote
  font-weight: 300
  margin-top: 1rem
  font-size: 100%
  color: #ccc

/*---- tipue overrides ----*/

.tipue_search_content_url
  font-family: LatoWeb

.tipue_search_content_text
  font-family: LatoWebLight

.tipue_search_content_title
  font-family: LatoWebLight

.tipue_search_content_title pre
  font-weight: 600
  padding: 0
  color: color2

.tipue_search_content_title a
  color: color1 !important

#tipue_search_content
  display: inline-block
  border-radius: 3rem !important
  /*
  border-top: 0px solid color1 !important
  border-bottom: 0px solid color1 !important
  border-left: 5px solid color1 !important
  border-right: 5px solid color1 !important
  padding: 1rem
  */
  background-color: #fff !important

#tipue_search_input
  display: inline-block
  border-radius: 3rem !important
  border-top: 5px solid color1 !important
  border-bottom: 5px solid color1 !important
  border-left: 0px solid color1 !important
  border-right: 0px solid color1 !important
  margin-bottom: 1rem !important
  margin-left: 5rem

@media screen and (max-width:300px)
  #tipue_search_foot_boxes li a
    padding: 0.3rem 0.6rem 0.3rem 0.6rem !important

  #tipue_search_foot_boxes li.current
    padding: 0.3rem 0.6rem 0.3rem 0.6rem !important

.landing #tipue_search_input
  border-radius: 3rem !important
  border: 15px solid color5 !important
  background-color: #fff !important

#tipue_search_results_count
  font-family: LatoWebLight

.tipue_search_content_title b
  font-family: font

.searchcontent
  text-align: center
  margin: auto

.searchinput
  text-align: center
  max-width: 650px
  padding: 16px
  margin: auto


footer_border = 1px solid color4
footer
  background-color: dark_grey;
  color: color1
  a:link, a:visited
    color: color1
  hr
    background: #000
  for side in right left top bottom
    .border-{side}
      border-{side}: footer_border

  .borders
    for side in right left top bottom
      border-{side}: footer_border


pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#test pre {
  padding: 0.5rem;
  background: #dcddde;
  color: #0d2c40;
}

body .bck.light {
    color:#fff;
    background-color:color5
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
}

body .bck.light a:link {
    color: #0d2c40;
}

body .bck.light a:visited {
    color: #0d2c40;
}

body .bck.light a:hover {
    color: #a0ff5f;
    text-shadow: 1px 1px #0d2c40;
}

body .bck.light h1 {
    padding-top: 1rem;
    color:#0d2c40;
}

body .bck.dark {
    background:#0D2C40;
    color:#eee;
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
}

body .bck.dark h1 {
    padding-top: 1rem;
    color:#eee;
}

body .bck.dark a {
    color:#a0ff5f;
    text-shadow: 1px 1px #151;
}

body button
  background-color: color5 !important
  text-decoration: None !important

a.button
  background-color: color5 !important
  text-decoration: None !important

a.button.tiny
  padding-top: 0.15em !important

td a.button.tiny
  padding-top: 0em !important

a.button.install
  margin-top: 0.5em

#opensuse-logo {
  width: 40%;
}

#suse-logo {
  width: 40%;
  border-left: 0.1rem solid #eee;
}

.package {
  background-color: dark_grey
  color: #f5f5f5;
}

.package section a {
  color: color5 !important;
}

.package section a:hover {
  color: #000 !important;
}

.package section.landing {
  padding: 0
}

.package section.theme {
  padding: 0
}

.package header {
  background-color: dark_grey
  color: #f5f5f5;
}

.package header a {
  color: #f5f5f5;
}

.package header a:hover {
  color: #f5f5f5 !important;
}

.package pre {
  font-size: 85%;
}

.package a.button {
  background-color: color5 !important;
  text-decoration: None !important;
}

.package a.button.low {
  background-color: color5 !important;
}

.package a.button.moderate {
  background-color: color1 !important;
}

.package a.button.important {
  background-color: #ED8924 !important;
}

.package a.button.critical {
  background-color: #ff0000 !important;
}

#package-releases ul {
  padding: 0px;
  margin: 0px;
  padding-left: 0.5rem;
}

#features {
  padding-top: 75px !important;
}

#test {
  padding-top: 75px !important;
}

#contribute {
  padding-top: 75px !important;
}

#packages {
  padding-top: 75px !important;
}

h1.page-title {
  font-family: font_semi_bold
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid hsla(0,0%,0%,0.1);
}

.text-block p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-block ol, ul {
  margin-left: 2em;
}

.text-block li {
  margin: 0.5rem;
}

.text-block h1 {
  margin-top: 3rem;
}

.text-block h2 {
  margin-top: 3rem;
  color: color5
}

.text-block h3 {
  margin-top: 1rem;
  border-bottom: 1px solid hsla(0,0%,0%,0.1);
}

.screenshot {
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid hsla(0,0%,0%,0.1);
  margin-bottom: 1rem;
}

.screenshot.center {
  margin-right: auto;
  margin-left: auto;
}

.screenshot.left {
  margin-right: auto;
}

.screenshot.right {
  margin-left: auto;
}

.screenshot a:link {
  background-color: hsla(0,0%,0%,0.0) !important;
  color: color4 !important;
  text-decoration: underline;
}

.screenshot a:hover {
  background-color: hsla(0,0%,0%,0.0) !important;
  color: color5 !important;
  color: #a0ff5f !important;
  text-shadow: 1px 1px #0d2c40 !important;
}

.screenshot p {
  margin-top: 1rem;
}

.screenshot-30 {
  width: 30%;
}

.screenshot-30 img {
  width: 100%;
}

.screenshot-50 {
  width: 50%;
}

.screenshot-50 img {
  width: 100%;
}

.screenshot-75 {
  width: 75%;
}

.screenshot-75 img {
  width: 100%;
}

.screenshot-90 {
  width: 90%;
}

.screenshot-90 img {
  width: 100%;
}

.zoom {
  display:inline-block;
  position: relative;
  overflow: hidden;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block;
  width:33px;
  height:33px;
  position:absolute;
  top:0;
  right:0;
  background:url(../images/zoom-icon.png);
}
.zoom img {
  display: block;
}
.zoom img::selection { background-color: transparent; }

#isso-thread .textarea {
  color: #000;
}

#isso-thread {
  background-color: #eee;
  color: #000;
}

#category_nav {
  text-align: left;
  min-height: 75vh;
}

#category_nav .button {
  background-color: color5
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-decoration: None;
}

.scroll
  overflow: auto

blockquote
  font-style: italic
  text-align: justify
  padding-left: 1rem
  margin-left: 1rem
  border-left: 3px solid color1
  border-radius: 1rem

.pull-right
  float: right

.changelogs
  border: default_border
  margin: 1rem
  padding: 1rem

.changelogentry
  font-size: 80%

.impressum section
  min-height: 70vh

body.impressum footer
  position: relative
  width: 100%
  top: 0px

.linespace
  line-height: 4rem

.contact
  padding-bottom: 4rem

.lektor
  position: relative
  bottom: -3em
  img
    position: relative
    bottom: -0.5em

.nowrap
  white-space: nowrap
