            <div class="column_4">
              <h2 class="fa fa-{{ this.icon }} fa-2x"></h2>
              <h5 class="text bold">{{ this.title }}</h5>
                <small>
                  {{ this.text }}
                </small>
            </div>
