    <section class="bck dark padding text center" id="features">
        <div class="row padding-bottom">
            <div class="column_10 offset_1">
              <h1 class="text thin">{{ this.title }}</h1>
              {{ this.content }}
            </div>
        </div>
        <div class="row padding-top">
        {{ this.features }}
        </div>
    </section>
