    <section class="bck theme landing padding-top">
        <div class="row text thin">
            <div class="column_6 text padding-top">
              {{ this.contents }}
            </div>
            <div class="column_6 padding-top">
              <img style="width: 100%;" alt="SUSE Package Hub" src="{{ this.image|url }}" />
            </div>
        </div>
    </section>
