  <section class="landing" id="packages">
        <div class="text center thin padding-bottom">
          <h1><i class="fa fa-{{ this.icon }} fa-1x"></i> {{ this.title }}</h1>
          <em>{{ this.comment }}</em>
          <hr>
            <div class="padding">
              <form action="{{'/search'|url}}">
              <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
              </form>
            </div>
            <div class="padding">
              <button id="all" class="button secondary packagelist">All</button>
              <button id="AArch64" class="button secondary packagelist">AArch64</button>
              <button id="ppc64le" class="button secondary packagelist">ppc64le</button>
              <button id="s390x" class="button secondary packagelist">s390x</button>
              <button id="x86-64" class="button secondary packagelist">x86-64</button>
            </div>
            <div id="packagelist-container" class="row text small bold left">
            </div>
          <hr>
        </div>
    </section>
