{% set image = record.attachments.get(this.image) %}
<div class="screenshot screenshot-{{ this.width }} {{this.align}}">
{% if this.title -%}
<div class="text center padding bold">
  {{ this.title }}
</div>
{% endif %}
<span class="zoom">
  <a href="{{image|url}}"><img src="{{ image|url }}"/></a>
</span>
<div class="text left">
{% if this.contents %}
  {{ this.contents }}
{% endif %}
</div>
</div>
