<section class="bck {{ this.style }} padding" id="{{ this.name }}">
  <div class="row text thin center padding-bottom">
    <h1 class="text">
      <i class="fa fa-{{ this.iconl }}"></i>
      {{ this.title }}
      <i class="fa fa-{{ this.iconr }}"></i>
    </h1>
    <div class="column_10 offset_1">
      {{ this.content }}
    </div>
  </div>
</section>
