{% if this.type == 'CVE' -%}
<li class="text bold">{{ this.type }}: <a href="{{this.href}}">{{this.id}}</a></li>
{% else -%}
<li class="text bold">{{ this.type }}: <a href="{{this.href}}">{{this.id}} {{this.title}}</a></li>
{% endif -%}
