{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<section id="pagetop" class="bck theme padding">
  <div class="row padding-bottom">
    <div class="offset_1 column_9">
  <h1 class="page-title">{{ this.title }}</h1>
  {{ this.body }}
    </div>
  </div>
</section>
{% endblock %}
