{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ '/static/tipuesearch/tipuesearch.css'|url }}">
    <script>
    $(document).ready(function(){
      $("button.packagelist").click(function(){
        if ($(this).attr('id') === 'all') {
          $("#packagelist-container").load("{{site.get('packages')|url}}index.html");
        } else {
          $("#packagelist-container").load("{{site.get('package-platforms')|url}}" + $(this).attr('id') + "/index.html");
        }
      });
      $("#packagelist-container").load("{{site.get('packages')|url}}index.html");
    });
    </script>
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}


{% block body %}
<section id="pagetop"></section>
  {{ this.body }}
{% endblock %}
