{% from "macros/nav.html" import render_topnav %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>SUSE Package Hub - {% block title %}Welcome{% endblock %}</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{{ '/static/css/tuktuk.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/tuktuk.theme.default.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/gen/styles.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/font-awesome.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/latofonts.css'|url }}">
  <link rel="shortcut icon" href="{{ '/static/favicon.png'|url }}">
  <script src="{{ '/static/js/jquery.min.js'|url }}"></script>
  <script src="{{ '/static/js/tuktuk.js'|url }}"></script>
{%- block head %}{% endblock %}
</head>
<body class="{{ this._model }} {{ this._id }}">
  <!-- ========================== HEADER ========================== -->
  <header>
    <nav>
      <ul class="topnav" id="menu">
        {% block topnav %}{{ render_topnav(this) }}{% endblock %}
      </ul>
    </nav>
  </header>
  {% block body %}{% endblock %}

  <footer class="align center text small padding-top padding-bottom">
    <div class="row text thin border-right border-left">
      <div class="column_4 text left contact">
        <h4 class="text italic">contact</h4>
        <b class="fa fa-envelope"></b> packagehub@suse.com<br>
        <a href="https://twitter.com/susepackagehub"><b class="fa fa-twitter"></b> @SUSEPackageHub</a><br>
        <br>
        <a class="text italic" href=" {{site.get('impressum') | url }}">Impressum</a>
      </div>
      <div class="column_4 center">
        <span>
          <a href="https://www.opensuse.org">
            <img id="opensuse-logo" alt="openSUSE" src="{{ '/static/images/openSUSE_Logo_White.svg'|url }}"/>
          </a>
          <a href="https://www.suse.com">
            <img id="suse-logo" alt="SUSE" src="{{ '/static/images/SUSE_Logo_White.svg'|url }}"/>
          </a>
        </span>
        <br>
        <div style="padding-left: 0.15rem">project</div>
      </div>
       <div class="text italic">
        <div class="text right padding-right margin-top padding-top">
          <small class="lektor">This awesome site is generated using <a href="https://www.getlektor.com/"/><img src="/static/images/lektor-logo.png"/></a>
          </small>
        </div>
       </div>
    </div>
    <div class="row text thin">
      <div class="text center">
        <smalL>&copy; 2016-2019 - SUSE, All Rights Reserved</small>
      </div>
    </div>
  </footer>

</body>
</html>
