{% extends "layout.html" %}
{% block title %}Missing Leap Packages{% endblock %}

{% block body %}

<br>
<br>
<section class="bck theme landing">
  <div class="row padding">
    <h3 class="border-bottom"><b class="text bold">{{this.children.count()}}</b> Missing Leap packages required for {{ this.release }} {{ this.arch}}</h3>
    <div class="row padding">
      {% for pkg in this.children %}
      <a class="text small" href="{{ pkg|url }}"> {{pkg.name}}</a><br>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
