{% extends "layout.html" %}
{% block title %}Not Installable Packages{% endblock %}

{% block body %}

<br>
<br>
<section class="bck theme landing">
  <div class="row padding">
    <h3 class="text border-bottom"><b class="text bold">{{ this.children.count()}}</b> packages in Package Hub that are not installable{{ this.release }} {{this.arch}} </h3>
    <div class="row padding">
      {% for pkg in this.children %}
      <a class="text small" href="{{ pkg|url }}"> {{pkg.name}}</a><br>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
