{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}

{% block body %}
<br>
<br>
<section class="bck theme landing">
  <h4 class="padding text bold large center">Subpackage Info</h4>
    <div class="row">
      <div class="column_10">
        <h1>{{this.name}}</h1>
        <hr>
        <div class="padding">
          <span class="text bold">Source Package:</span> {{this.source_package}}
          {% if this.missing_subpackages -%}
          <p class="padding-top">
          <span class="text bold">Depends on missing SLE Subpackages:</span>
          <ul>
            {% for pkg in this.missing_subpackages | sort %}
            <li>{{pkg}}</li>
            {% endfor %}
          </ul>
          </p>
          {% endif %}
          {% if this.missing_leap_packages -%}
          <p class="padding-top">
          <span class="text bold">Depends on missing Leap Subpackages:</span>
          <ul>
            {% for pkg in this.missing_leap_packages | sort %}
            <li>{{pkg}}</li>
            {% endfor %}
          </ul>
          </p>
          {% endif %}
          {% if this.unresolved -%}
          <p class="padding-top">
          <span class="text bold">Other unresolvable:</span>
          <ul>
            {% for item in this.unresolved | sort %}
            <li>{{item}}</li>
            {% endfor %}
          </ul>
          </p>
          {% endif %}
        </div>
      </div>
  </div>
</section>
{% endblock %}
