{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}
  <h1>{{ this.name }}</h1>
  <hr>
  <div class="summary">{{ this.summary }} </div>
  <hr>
  <div class="rpmgroup">{{ this.rpmgroup }} </div>
  <div class="description">{{ this.description }}</div>
  <hr>
  <div class="license"><b>License:</b> {{ this.license }} </div>
  <div class="url"><b>URL:</b> {{ this.url }} </div>
{% endblock %}
