{% from "macros/packages.html" import render_package_list %}
<div class="footnote row text">
  <div class="column_5">
    {{ this.children.count() }} total {{ this.name }} packages in stock
  </div>
</div>
<hr>
{% block body %}

  {{ render_package_list(this) }}
{% endblock %}
