{% if this.updateid -%}
{% set updateinfo = site.get('update-infos/%s' % this.updateid) -%}
{% else -%}
{% set updateinfo = None -%}
{% endif -%}
{% extends "layout.html" %}
{% block title %}{{ this.id }}{% endblock %}

{% block body %}
<br>
<br>
  <section class="bck theme landing">
   <h4 class="padding text bold large center">Package Release Info</h4>
      <div class="row">
        <div class="">
          <h1><a class="text bold" href="{{ this.parent | url }}">{{ this.parent.name }}</a>-{{ this.version }}-{{ this.release }}</h1>
        </div>
        <div class="padding linespace">
          <span class="text bold">Update Info:</span>
          {% if updateinfo -%}
          <a class="button" href={{ updateinfo | url}}>{{ this.updateid }}</a>
          {% else -%}
          <i>Base Release</i>
          {% endif -%}
          <br>
          <span class="text bold">Available in Package Hub :</span> {{ this.repo }}
        </div>
        <div class="row">
          <div class="padding-top padding-bottom column_3">
            <h3 class="text bold center border-bottom">platforms</h3>
            <table>
              {% for platform in ['AArch64', 'ppc64le', 's390x', 'x86-64'] -%}
              <tr>
              <td>{{ platform }}</td>
              {% if platform in this.platforms %}
              <td><b class="color green fa fa-check"></b></td>
              {% else -%}
              <td><b class="color red fa fa-ban"></b></td>
              {% endif -%}
              {% endfor %}
              </tr>
            </table>
          </div>
          <div class="padding-top padding-bottom column_8">
            <h3 class="text bold center border-bottom margin-bottom">subpackages</h3>
              {% for pname in this.subpackages -%}
              <div class="column_4">{{ pname }}</div>
              {% endfor %}
          </div>
        </div>
        <div class="padding">
          <h3 class="text bold">Change Logs</h3>
          <div class="changelogs">
          {{ this.changelog }}
          </div>
          {% for sibling in this.parent.children | reverse -%}
            {% if sibling._id < this._id -%}
            <div class="changelogs">
              <a class="button" href="{{ sibling | url }}">Version: {{ sibling.version }}-{{ sibling.release }}</a>
            {{ sibling.changelog }}
            </div>
            {% endif -%}
          {% endfor -%}
        </div>
      </div>
  </section>
{% endblock %}
