{% extends "layout.html" %}
{% from "macros/nav.html" import render_category_nav %}
{% from "macros/nav.html" import render_topnav %}
{% block title %}Package Categories{% endblock %}
{% block topnav %}
{{ render_topnav(this) }}
{% endblock %}
{% block body %}
  <section class="bck dark padding pagetop">
  <br>
  <br>
  <h1>Package Categories</h1>
    <div id="category_nav" class="padding">
  {{ render_category_nav(active=none) }}
    </div>
    <hr>
  </section>
{% endblock %}
