{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}

{% block body %}
<br>
<br>
    <section class="bck theme landing">
   <h4 class="padding text bold large center">Package Info</h4>
      <div class="">
        <div class="row">
          <div class="column_10 padding-top">
          <h1 class="">{{this.name}}</h1>
          </div>
          <div class="columns_2 padding-right padding-top">
          <a class="button install pull-right"
             href="{{this | url}}one-click.ymp"
             title="Requires SUSE Package Hub to be enabled on the target system">install</a>
          </div>
        </div>
        <div class="row">
          <hr>
          <h4>{{this.summary}}</h4>
          <hr>
          <h5>{{this.rpmgroup}}</h5>
        </div>
      </div>
    </section>
    <section class="bck theme">
      <div class="row padding-top padding-bottom">
        <div class="text small">
          <pre>{{this.description}}
          </pre>
            <hr>
            {% if this.license -%}
            <b class="text bold">License: </b>
            {% for license in this.license -%}
            <a href="https://spdx.org/licenses/{{license}}">{{license}}</a>
            {% if not loop.last %}
 or 
            {% endif %}
            {% endfor %}
            {% endif %}
            <br>
            {% if this.url -%}
            <b class="text bold padding-right">URL: </b><a href="{{this.url}}">{{this.url}}</a>
            {% endif %}
        </div>
      </div>
    </section>

    <section class="bck theme">
      <div class="row text">
        <h3 class="text bold">Categories</h3>
        <div class="padding-top">
          {% for cat in this.categories -%}
          {% set category = site.get('/package-categories').children.filter(F._id == cat).first() %}
          <a href="{{category | url}}", class="text bold button tiny">{{ category.name }}</a>
          {% endfor -%}
          {% set extra = site.get('/package-extras/{{this._id}}') %}
          {% for cat in extra.categories -%}
          {% set category = site.get('/package-categories').children.filter(F._id == cat).first() %}
          {% if category not in this.categories -%}
          <a href="{{category | url}}", class="text bold button tiny">{{ category.name }}</a>
          {% endif -%}
          {% endfor -%}
        </div>
      </div>
    </section>

    <section class="bck theme">
      <div class="padding-top row">
      <h3 class="padding-top text bold">Releases</h3>
        <div class="scroll">
          <table id="package-releases" class="margin-top">
            <thead class="bck light">
              <tr>
                <th>Package Version</th>
                <th>Update ID</th>
                <th>Released</th>
                <th>Package Hub Version</th>
                <th>Platforms</th>
                <th>Subpackages</th>
              </tr>
            </thead>
            <tbody>
            {% for release in this.children | reverse %}
          {% set updateinfo = site.get('/update-infos/%s' % release.updateid) -%}
            <tr class="text small">
              <td class="text bold">{{release.version}}-{{release.release}}
                <span class="pull-right"> <a class="button tiny" href="{{ release | url }}">info</a> </span>
              </td>
              {% if updateinfo -%}
              <td class="padding-left"><a class="button tiny {{updateinfo.severity}}" href="{{ updateinfo | url }}">{{ updateinfo.id }}</a></td>
              <td class="padding-left">{{updateinfo.issued}}</td>
              {% else -%}
              <td class="padding-left">GA Release</td>
              <td class="padding-left">{{ release.build_date }}</td>
              {% endif -%}
              <td class="padding-left">{{ release.repo }}</td>
              <td class="padding-left">
                <ul>
                {% for platform in release.platforms | sort %}
                <li>{{platform}}</li>
                {% endfor -%}
                </ul>
              </td>
              <td class="padding-left">
                <ul>
                {% for subpkg in release.subpackages | sort -%}
                <li>{{subpkg}}</li>
                {% endfor -%}
                </ul>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
{% endblock %}
