{% extends "layout.html" %}
{% from "macros/packages.html" import render_category_packages %}
{% from "macros/nav.html" import render_category_nav %}
{% block head %}{% endblock %}
{% block title %}Package Category {{ this.name }}{% endblock %}

<li class="icon">
  <a href="javascript:void(0);" onclick="menuNav()"><i class="fa fa-bars"></i></a>
</li>

{% block body %}
  <section id="pagetop" class="theme landing">
    <div class="text center">
      <h2>Package Categories</h2>
    <hr>
    </div>
    <div class="row left">

      <div class="column_3 text left hide-phone">
        <h4 class="padding-bottom">Categories</h4>
        <div id="category_nav">
        {{ render_category_nav(this._id) }}
        </div>
      </div>

      <div class="text left">
        <h3>{{this.name}} package list</h3>
        <hr>
        <div class="text small">
          {{ render_category_packages(this) }}
        </div>
      </div>

    </div>
  </section>

{% endblock %}
