{% extends "layout.html" %}
{% block title %}Reports{% endblock %}

{% block body %}

<br>
<br>
<section class="bck theme landing">
  <div class="row padding">
  <h1 class="text center">Reports</h1>
  {% for release in this.releases -%}
  <h1 class="text bold border-bottom"> Package Hub {{release}}</h1>
    <br>
    {% for report in this.children -%}
    <div class="padding-left">
    {% if report.release == release -%}
        <a class="text large bold"  href="{{report | url}}"> {{ report.name }} </a>
        <p>
        {{ report.description }}
        <br>
        </p>
    {% endif -%}
    </div>
    {% endfor %}
  {% endfor %}
  </div>
</section>
{% endblock %}
