{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ '/static/tipuesearch/tipuesearch.css'|url }}">
  <script src="{{ '/static/tipuesearch/tipuesearch_set.js'|url }}"></script>
  <script src="{{ '/static/tipuesearch/tipuesearch.min.js'|url }}"></script>
{% endblock %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<section id="pagetop">
  <div class="text center">
    <h1>{{ this.title }}</h1>
  </div>
</section>

<section class="bck theme pagetop">
  <div class="row padding-bottom">
    <div class="searchcontent">
      <div>
        <form action="{{'/search'|url}}" class="searchinput">
          <input type="text" name="q" id="tipue_search_input" autocomplete="on" required>
        </form>
      </div>
      <div id="tipue_search_content"></div>
    </div>
  </div>
</section>
<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch({
    'mode': 'json',
    'contentLocation': '{{ "/static/tipuesearch/packages.json"|url }}',
    'showURL': false
  });
});
</script>

{% endblock %}
