{% extends "layout.html" %}
{% block title %}Ädditional Subpackages{% endblock %}

{% block body %}

<br>
<br>
<section class="bck theme landing">
  <div class="row padding">
    <h3>Additional SLE Subpackages required for {{ this.release }} {{this.arch}}</h3>
  <br>
  <a class="padding" href="{{'subpackages.xml' | url}}">xml snippet</a>
  </div>
  <div class="row padding">
    {% for group in this.children | groupby('published') | reverse -%}
    <div class="column_6">
      {% if group.grouper == True -%}
      <h3 class="text border-bottom">{{group.list|length}} Published</h3>
      {% endif %}
      {% if group.grouper == False -%}
      <h3 class="text border-bottom">{{group.list|length}} Unpublished</h3>
      {% endif %}
      <p>
          {% for pkg in group.list %}
          <a href="{{ pkg|url }}"> {{pkg.name}}</a><br>
          {% endfor %}
      </p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
