{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}

{% block body %}
<br>
<br>
<section class="bck theme landing">
  <h4 class="padding text bold large center">Subpackage Info</h4>
    <div class="row">
      <div class="column_10">
        <h1>{{this.name}}</h1>
        <hr>
        <div class="padding">
          <span class="text bold">Source Package:</span> {{this.source_package}}
          <br>
          {% if this.published %}
          <span class="text bold">Published:</span> <b class="color green fa fa-check"></b></h3>
          {% else -%}
          <span class="text bold">Published:</span> <b class="color red fa fa-ban"></b></h3>
          {% endif -%}
          <br>
          <span class="text bold">Required by:</span>
          <ul>
            {% for what in this.what_requires | sort %}
            <li>{{what}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</section>
{% endblock %}
