{% from "macros/pagination.html" import render_pagination %}
{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<br>
<br>
<section class="bck theme landing">
  <h4 class="padding text bold large center">{{ this.title }}</h4>
  <div class="padding">
    <div class="column_4">
    {% if this.pagination.pages > 1 -%}
    {{ render_pagination(this.pagination) }}
    {% endif -%}
    </div>
    <div class="column_4 pull-right">
      <a class="pull-right" href="{{ '@atom/update-info' | url }}"><b class="fa fa-rss-square"> RSS Feed</b></a>
    </div>
      <table id="updates" class="margin-top">
        <thead class="bck light">
          <tr>
            <th>Update ID</th>
            <th>Severity</th>
            <th>Type</th>
            <th>Issued</th>
            <th>Description</th>
            <th>Packages</th>
          </tr>
        </thead>
        <tbody>
          {% for updateinfo in this.pagination.items%}
          <tr class="text small">
            <td class="padding-left"><a class="button tiny {{updateinfo.severity}}" href="{{ updateinfo | url }}">{{ updateinfo.id }}</a></td>
            <td class="padding-left">{{ updateinfo.severity }}</td>
            <td class="padding-left">{{ updateinfo.type }}</td>
            <td class="text bold">{{ updateinfo.issued }}</td>
            <td class="padding-left">
              {{ updateinfo.description[:200] }}
              {% if updateinfo.description | length > 200 -%}
              ...
              {% endif -%}
            </td>
            <td class="padding-left">
              <ul>
                {% for package in updateinfo.packages[:10] | sort %}
                <li>{{package}}</li>
                {% endfor -%}
                {% if updateinfo.packages | length > 10 -%}
                <li>...</li>
                {% endif -%}
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</section>
{% endblock %}


