{% extends "layout.html" %}
{% block title %}{{ this.id }}{% endblock %}

{% block body %}
<br>
<br>
    <section class="bck theme padding">
   <h4 class="padding text bold large center">Update Info</h4>
      <div class="row">
        <div class="">
          <h2>{{this.id}}</h2>
          <hr>
          <h4>{{this.title}}</h4>
          <hr>
          <div class="padding">
          <div><b class="text bold">Type:</b> {{this.type}}</div>
          <div><b class="text bold">Severity:</b> {{this.severity}}</div>
          <div><b class="text bold">Issued:</b> {{this.issued}}</div>
          <div class="padding-top padding-bottom text small">
            <div><b class="text bold">Description:</b></div>
              <pre class="padding-top border-left border-top border-bottom border-right">{{this.description}}
              </pre>
            </div>
          </div>
            <div class="padding-top">
            <h3>References</h3>
            <hr>
            {% if this.references %}
              <ul>
                {{ this.references }}
              </ul>
            {% else %}
              No references
            {% endif %}
            </div>
            <div class="padding-top">
            <h3>Packages</h3>
            <hr>
            {% for package in this.packages %}
              <ul>
                <li> {{ package }} </li>
              </ul>
            {% endfor %}
            </div>
        </div>
      </section>
{% endblock %}
